.outset
  - render_region :top
  - render_region :main do |main|
    - main.list do
      %table#settings_index.index
        %thead
          %tr
            %th.key{:style => 'width: 250px'}= t('settings_extension.setting.key')
            %th.value= t('settings_extension.setting.value')
        %tbody
          - unless @settings.nil?
            - @settings.each do |key, node|
              = render_node key, node, :reset_depth => true

- render_region :bottom do |bottom|
  - bottom.new_button do
    #actions
      -# = pagination_for(@settings)
      %ul
        %li= link_to image('plus') + " " + t('settings_extension.new_setting'), new_admin_setting_url

- content_for 'page_css' do
  :sass
    table#settings_index
      div.nest-padding
        width: 35px
        height: 10px
        float: left
      tr.spacer
        td
          background: #EAEAEA
          height: 3px
          padding: 0
      span.title
        a
          color: black
          font-size: 115%
          font-weight: bold
          text-decoration: none
          &:hover
            color: #0066cc
            text-decoration: underline
