%style
  table.index span.label { color: #666; font-size: 1.2em }
  table.index div.nest-padding { width: 35px; height: 10px; float: left }
  table.index tr.spacer td { background: #EAEAEA; height: 3px; padding: 0 !important }

%h1 Radiant Settings

%table.index
  %tr
    %th.key Setting Name
    %th.value Value
  
  - @settings.each do |key, node|
    = render_node key, node, :reset_depth => true